.pantalla-de-informes-adminf-pantalla-de-informes-adminf {
      font-family:Inter;
align-items:center;
justify-content:center;
flex-direction:column;
display:inline-flex;
background-color:rgba(21,27,40,1);
height:900px;
width:1440px;
    }

.pantalla-de-informes-adminf-horizontal-container {
      padding-right:1px;
padding-left:1px;
justify-content:center;
align-items:center;
gap:579px;
width:1440px;
height:55px;
box-sizing:border-box;
background-color:rgba(21,27,40,1);
border-style:solid;
border-left-width:0;
border-right-width:0;
border-top-width:0;
border-bottom-width:1px;
border-color:rgba(46,53,69,1);
display:flex;
padding:0;
color:rgba(249,249,249,1);
text-align:left;
font-weight:500;
    }

.pantalla-de-informes-adminf-text-input {
      gap:32px;
width:411px;
    }

.pantalla-de-informes-adminf-button-group-base {
      align-self:stretch;
align-items:center;
justify-content:center;
display:flex;
gap:8px;
background-color:rgba(44,52,68,1);
padding-right:12px;
padding-left:12px;
padding-bottom:10px;
padding-top:10px;
box-sizing:border-box;
height:100%;
flex-grow:1;
    }

.pantalla-de-informes-adminf-rotate-360x-1 {
      height:21px;
width:21px;
    }

.pantalla-de-informes-adminf-button {
      line-height:30px;
letter-spacing:-0.01em;
font-size:22px;
    }

.pantalla-de-informes-adminf-rotate-360x-2 {
      height:21px;
width:21px;
    }

.pantalla-de-informes-adminf-frame-10x {
      align-self:stretch;
align-items:center;
display:flex;
flex-grow:1;
width:100%;
    }

.pantalla-de-informes-adminf-side-menu {
      align-items:center;
flex-direction:column;
display:flex;
gap:32px;
overflow:clip;
border-color:rgba(46,53,69,1);
border-bottom-width:0;
border-top-width:0;
border-right-width:1px;
border-left-width:0;
border-style:solid;
background-color:rgba(28,37,52,1);
padding-bottom:24px;
padding-top:24px;
box-sizing:border-box;
height:842px;
width:280px;
    }

.pantalla-de-informes-adminf-header {
      align-self:stretch;
align-items:center;
flex-direction:column;
display:flex;
gap:16px;
padding-right:28px;
padding-left:28px;
box-sizing:border-box;
width:100%;
    }

.pantalla-de-informes-adminf-paragraph-container {
      font-weight:500;
text-align:center;
align-self:stretch;
align-items:center;
flex-direction:column;
display:flex;
width:100%;
    }

.pantalla-de-informes-adminf-pedro-alcntara {
      color:rgba(249,249,249,1);
line-height:22px;
font-size:15px;
width:100%;
    }

.pantalla-de-informes-adminf-pedral-192304outloo {
      color:rgba(165,172,186,1);
line-height:20px;
font-size:14px;
width:100%;
    }

.pantalla-de-informes-adminf-actions {
      font-weight:600;
text-align:left;
color:rgba(249,249,249,1);
align-self:stretch;
align-items:flex-start;
flex-direction:column;
display:flex;
gap:8px;
width:100%;
    }

.pantalla-de-informes-adminf-button-1 {
      border-radius:5px;
align-self:stretch;
align-items:center;
justify-content:center;
display:flex;
gap:6px;
box-shadow-width:1px;
box-shadow:0px 0px 0px 1px rgba(46, 53, 69, 1) inset;
background-color:rgba(44,52,68,1);
filter:drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.04));
padding-right:16px;
padding-left:16px;
padding-bottom:10px;
padding-top:10px;
box-sizing:border-box;
width:100%;
    }

.pantalla-de-informes-adminf-exit-1 {
      height:19px;
width:18px;
    }

.pantalla-de-informes-adminf-text {
      line-height:20px;
font-size:14px;
    }

.pantalla-de-informes-adminf-side-menu-section {
      justify-content:center;
align-items:center;
gap:12px;
width:100%;
display:flex;
align-self:stretch;
    }

.pantalla-de-informes-adminf-user-1 {
      height:25px;
width:24px;
    }

.pantalla-de-informes-adminf-line-6x-1 {
      height:1px;
width:280px;
    }

.pantalla-de-informes-adminf-bottom-section {
      font-weight:600;
text-align:left;
gap:10px;
flex-grow:1;
width:100%;
    }

.pantalla-de-informes-adminf-sections {
      gap:16px;
flex-grow:1;
width:100%;
    }

.pantalla-de-informes-adminf-sections-1 {
      align-items:flex-start;
flex-direction:column;
gap:4px;
flex-grow:1;
display:flex;
    }

.pantalla-de-informes-adminf-layout-28 {
      color:rgba(165,172,186,1);
width:100%;
    }

.pantalla-de-informes-adminf-side-menu-section-1 {
      align-self:stretch;
align-items:center;
display:flex;
gap:12px;
position:relative;
padding-right:28px;
padding-left:28px;
box-sizing:border-box;
height:46px;
width:100%;
    }

.pantalla-de-informes-adminf-document-user-2 {
      height:23px;
width:22px;
    }

.pantalla-de-informes-adminf-text-1 {
      line-height:22px;
font-size:15px;
flex-grow:1;
    }

.pantalla-de-informes-adminf-layout-29 {
      color:rgba(249,249,249,1);
width:100%;
    }

.pantalla-de-informes-adminf-side-menu-section-2 {
      align-self:stretch;
align-items:center;
display:flex;
gap:12px;
background-color:rgba(51,59,72,1);
position:relative;
padding-right:28px;
padding-left:28px;
box-sizing:border-box;
height:46px;
width:100%;
    }

.pantalla-de-informes-adminf-folder-opened-2 {
      height:23px;
width:22px;
    }

.pantalla-de-informes-adminf-text-2 {
      line-height:22px;
font-size:15px;
flex-grow:1;
    }

.pantalla-de-informes-adminf-rectangle-3x {
      background-color:rgba(249,249,249,1);
position:absolute;
bottom:-0.5px;
top:50.5px;
left:0;
height:46px;
width:3px;
    }

.pantalla-de-informes-adminf-container-1 {
      text-align:left;
overflow:clip;
box-shadow-width:1px;
box-shadow:0px 0px 0px 1px rgba(37, 45, 60, 1) inset;
background-color:rgba(28,37,52,1);
filter:drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.04));
height:842px;
width:1160px;
    }

.pantalla-de-informes-adminf-container-2 {
      padding:32px;
align-items:flex-start;
flex-direction:column;
display:flex;
gap:16px;
box-sizing:border-box;
flex-grow:1;
width:1160px;
    }

.pantalla-de-informes-adminf-section-header {
      align-self:stretch;
align-items:flex-start;
flex-direction:column;
display:flex;
gap:20px;
width:100%;
    }

.pantalla-de-informes-adminf-breadcrumb {
      font-weight:500;
align-self:stretch;
align-items:center;
display:flex;
gap:4px;
width:100%;
    }

.pantalla-de-informes-adminf-breadcrumb-base {
      color:rgba(165,172,186,1);
align-items:center;
display:flex;
gap:4px;
    }

.pantalla-de-informes-adminf-document-user-3 {
      height:17px;
width:16px;
    }

.pantalla-de-informes-adminf-text-3 {
      line-height:20px;
font-size:14px;
    }

.pantalla-de-informes-adminf-chevron-right-1 {
      height:21px;
width:20px;
    }

.pantalla-de-informes-adminf-breadcrumb-base-1 {
      color:rgba(67,126,247,1);
align-items:center;
display:flex;
gap:4px;
    }

.pantalla-de-informes-adminf-folder-opened-3 {
      height:17px;
width:16px;
    }

.pantalla-de-informes-adminf-text-4 {
      line-height:20px;
font-size:14px;
    }

.pantalla-de-informes-adminf-up-content {
      gap:11px;
width:100%;
    }

.pantalla-de-informes-adminf-container-3 {
      align-items:flex-start;
flex-direction:column;
display:flex;
flex-grow:1;
    }

.pantalla-de-informes-adminf-informes-registrados {
      color:rgba(249,249,249,1);
line-height:38px;
letter-spacing:-0.01em;
font-weight:600;
font-size:28px;
width:100%;
    }

.pantalla-de-informes-adminf-gestin-de-los-infor {
      color:rgba(165,172,186,1);
line-height:24px;
font-weight:400;
font-size:16px;
width:100%;
    }

.pantalla-de-informes-adminf-table {
      font-weight:500;
border-radius:10px;
align-items:flex-start;
flex-direction:column;
display:flex;
overflow:clip;
box-shadow-width:1px;
box-shadow:0px 0px 0px 1px rgba(37, 45, 60, 1) inset;
background-color:rgba(28,37,52,1);
filter:drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.04));
box-sizing:border-box;
width:668px;
    }

.pantalla-de-informes-adminf-layout-31 {
      color:rgba(249,249,249,1);
width:100%;
    }

.pantalla-de-informes-adminf-text-5 {
      padding-top:16px;
padding-right:52px;
padding-left:24px;
padding-bottom:16px;
align-items:flex-start;
flex-direction:column;
width:100%;
box-sizing:border-box;
background-color:rgba(28,37,52,1);
border-style:solid;
border-left-width:0;
border-right-width:0;
border-top-width:0;
border-bottom-width:1px;
border-color:rgba(46,53,69,1);
display:flex;
align-self:stretch;
    }

.pantalla-de-informes-adminf-lista-de-informes-de {
      width:NaN;
font-size:16px;
line-height:24px;
    }

.pantalla-de-informes-adminf-tabel {
      align-items:flex-start;
display:flex;
gap:54px;
width:968px;
    }

.pantalla-de-informes-adminf-column {
      align-items:flex-start;
flex-direction:column;
display:flex;
width:246px;
    }

.pantalla-de-informes-adminf-table-header {
      padding-top:10px;
padding-right:24px;
padding-left:24px;
padding-bottom:10px;
align-items:center;
gap:4px;
width:100%;
height:44px;
box-sizing:border-box;
background-color:rgba(28,37,52,1);
border-style:solid;
border-left-width:0;
border-right-width:0;
border-top-width:0;
border-bottom-width:1px;
border-color:rgba(46,53,69,1);
display:flex;
align-self:stretch;
color:rgba(165,172,186,1);
    }

.pantalla-de-informes-adminf-iddel-informe {
      line-height:18px;
font-size:13px;
    }

.pantalla-de-informes-adminf-arrow-down-1 {
      height:15px;
width:14px;
    }

.pantalla-de-informes-adminf-table-cell {
      color:rgba(249,249,249,1);
align-self:stretch;
align-items:center;
display:flex;
gap:16px;
border-color:rgba(46,53,69,1);
border-bottom-width:1px;
border-top-width:0;
border-right-width:0;
border-left-width:0;
border-style:solid;
padding-right:24px;
padding-left:24px;
padding-bottom:12px;
padding-top:12px;
box-sizing:border-box;
height:64px;
width:100%;
    }

.pantalla-de-informes-adminf-component {
      line-height:20px;
font-size:14px;
    }

.pantalla-de-informes-adminf-table-cell-1 {
      color:rgba(249,249,249,1);
align-self:stretch;
align-items:center;
display:flex;
gap:16px;
border-color:rgba(46,53,69,1);
border-bottom-width:1px;
border-top-width:0;
border-right-width:0;
border-left-width:0;
border-style:solid;
padding-right:24px;
padding-left:24px;
padding-bottom:12px;
padding-top:12px;
box-sizing:border-box;
height:64px;
width:100%;
    }

.pantalla-de-informes-adminf-component-1 {
      line-height:20px;
font-size:14px;
    }

.pantalla-de-informes-adminf-table-cell-2 {
      color:rgba(249,249,249,1);
align-self:stretch;
align-items:center;
display:flex;
gap:16px;
border-color:rgba(46,53,69,1);
border-bottom-width:1px;
border-top-width:0;
border-right-width:0;
border-left-width:0;
border-style:solid;
padding-right:24px;
padding-left:24px;
padding-bottom:12px;
padding-top:12px;
box-sizing:border-box;
height:64px;
width:100%;
    }

.pantalla-de-informes-adminf-component-2 {
      line-height:20px;
font-size:14px;
    }

.pantalla-de-informes-adminf-table-cell-3 {
      color:rgba(249,249,249,1);
align-self:stretch;
align-items:center;
display:flex;
gap:16px;
border-color:rgba(46,53,69,1);
border-bottom-width:1px;
border-top-width:0;
border-right-width:0;
border-left-width:0;
border-style:solid;
padding-right:24px;
padding-left:24px;
padding-bottom:12px;
padding-top:12px;
box-sizing:border-box;
height:64px;
width:100%;
    }

.pantalla-de-informes-adminf-component-3 {
      line-height:20px;
font-size:14px;
    }

.pantalla-de-informes-adminf-column-1 {
      color:rgba(165,172,186,1);
align-items:flex-start;
flex-direction:column;
display:flex;
width:246px;
    }

.pantalla-de-informes-adminf-table-header-cell-1 {
      align-self:stretch;
align-items:center;
display:flex;
gap:16px;
border-color:rgba(46,53,69,1);
border-bottom-width:1px;
border-top-width:0;
border-right-width:0;
border-left-width:0;
border-style:solid;
background-color:rgba(28,37,52,1);
padding-right:24px;
padding-left:24px;
padding-bottom:10px;
padding-top:10px;
box-sizing:border-box;
height:44px;
width:100%;
    }

.pantalla-de-informes-adminf-table-header-1 {
      gap:4px;
    }

.pantalla-de-informes-adminf-idde-la-evaluacin {
      line-height:18px;
font-size:13px;
    }

.pantalla-de-informes-adminf-table-cell-4 {
      align-self:stretch;
align-items:center;
display:flex;
gap:16px;
border-color:rgba(46,53,69,1);
border-bottom-width:1px;
border-top-width:0;
border-right-width:0;
border-left-width:0;
border-style:solid;
padding-right:24px;
padding-left:24px;
padding-bottom:12px;
padding-top:12px;
box-sizing:border-box;
height:64px;
width:100%;
    }

.pantalla-de-informes-adminf-component-4 {
      line-height:20px;
font-size:14px;
    }

.pantalla-de-informes-adminf-table-cell-5 {
      align-self:stretch;
align-items:center;
display:flex;
gap:16px;
border-color:rgba(46,53,69,1);
border-bottom-width:1px;
border-top-width:0;
border-right-width:0;
border-left-width:0;
border-style:solid;
padding-right:24px;
padding-left:24px;
padding-bottom:12px;
padding-top:12px;
box-sizing:border-box;
height:64px;
width:100%;
    }

.pantalla-de-informes-adminf-component-5 {
      line-height:20px;
font-size:14px;
    }

.pantalla-de-informes-adminf-table-cell-6 {
      align-self:stretch;
align-items:center;
display:flex;
gap:16px;
border-color:rgba(46,53,69,1);
border-bottom-width:1px;
border-top-width:0;
border-right-width:0;
border-left-width:0;
border-style:solid;
padding-right:24px;
padding-left:24px;
padding-bottom:12px;
padding-top:12px;
box-sizing:border-box;
height:64px;
width:100%;
    }

.pantalla-de-informes-adminf-component-6 {
      line-height:20px;
font-size:14px;
    }

.pantalla-de-informes-adminf-table-cell-7 {
      align-self:stretch;
align-items:center;
display:flex;
gap:16px;
border-color:rgba(46,53,69,1);
border-bottom-width:1px;
border-top-width:0;
border-right-width:0;
border-left-width:0;
border-style:solid;
padding-right:24px;
padding-left:24px;
padding-bottom:12px;
padding-top:12px;
box-sizing:border-box;
height:64px;
width:100%;
    }

.pantalla-de-informes-adminf-component-7 {
      line-height:20px;
font-size:14px;
    }

.pantalla-de-informes-adminf-column-2 {
      align-items:flex-start;
flex-direction:column;
display:flex;
    }

.pantalla-de-informes-adminf-table-header-cell-2 {
      border-color:rgba(46,53,69,1);
border-bottom-width:1px;
border-top-width:0;
border-right-width:0;
border-left-width:0;
border-style:solid;
background-color:rgba(28,37,52,1);
box-sizing:border-box;
height:44px;
width:100%;
    }

.pantalla-de-informes-adminf-button-2 {
      padding-top:12px;
padding-right:24px;
padding-left:24px;
padding-bottom:12px;
align-items:center;
gap:8px;
width:100%;
height:64px;
box-sizing:border-box;
border-style:solid;
border-left-width:0;
border-right-width:0;
border-top-width:0;
border-bottom-width:1px;
border-color:rgba(46,53,69,1);
display:flex;
align-self:stretch;
    }

.pantalla-de-informes-adminf-eye-2 {
      height:21px;
width:20px;
    }

.pantalla-de-informes-adminf-button-3 {
      padding-top:12px;
padding-right:24px;
padding-left:24px;
padding-bottom:12px;
align-items:center;
gap:8px;
width:100%;
height:64px;
box-sizing:border-box;
border-style:solid;
border-left-width:0;
border-right-width:0;
border-top-width:0;
border-bottom-width:1px;
border-color:rgba(46,53,69,1);
display:flex;
align-self:stretch;
    }

.pantalla-de-informes-adminf-eye-3 {
      height:21px;
width:20px;
    }

.pantalla-de-informes-adminf-button-4 {
      padding-top:12px;
padding-right:24px;
padding-left:24px;
padding-bottom:12px;
align-items:center;
gap:8px;
width:100%;
height:64px;
box-sizing:border-box;
border-style:solid;
border-left-width:0;
border-right-width:0;
border-top-width:0;
border-bottom-width:1px;
border-color:rgba(46,53,69,1);
display:flex;
align-self:stretch;
    }

.pantalla-de-informes-adminf-eye-4 {
      height:21px;
width:20px;
    }

.pantalla-de-informes-adminf-button-5 {
      padding-top:12px;
padding-right:24px;
padding-left:24px;
padding-bottom:12px;
align-items:center;
gap:8px;
width:100%;
height:64px;
box-sizing:border-box;
border-style:solid;
border-left-width:0;
border-right-width:0;
border-top-width:0;
border-bottom-width:1px;
border-color:rgba(46,53,69,1);
display:flex;
align-self:stretch;
    }

.pantalla-de-informes-adminf-eye-5 {
      height:21px;
width:20px;
    }


    /* PantallaDeRegistro.css */
.pantalla-de-informes-adminf-text,
.pantalla-de-informes-adminf-text-1,
.pantalla-de-informes-adminf-text-2,
.eye-eye-1,
.eye-3-eye{
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.pantalla-de-informes-adminf-text:hover,
.pantalla-de-informes-adminf-text-1:hover,
.pantalla-de-informes-adminf-text-2:hover,
.eye-eye-1:hover,
.eye-3-eye:hover,
.pantalla-de-informes-adminf-text:active,
.pantalla-de-informes-adminf-text-1:active,
.pantalla-de-informes-adminf-text-2:active,
.eye-eye-1:active,
.eye-3-eye:active {
  background-color: #f0f0f0; /* Cambia el color al que desees */
  color: #333; /* Cambia el color al que desees */
}
